.git
.gitignore
.turbo
.tanstack
node_modules
.next
dist
build
out
coverage
.env
.env.*
*.log
.DS_Store
.vscode
.idea
README.md
Dockerfile
.dockerignore

apps/*/.turbo
apps/*/.tanstack
apps/*/dist
apps/*/node_modules
apps/*/.env
apps/*/.env.*

packages/*/dist
packages/*/node_modules

bun-error.log
